/* header starts here */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav {
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:0 150px;
}
.nav-title{
    font-size:34px;
    color:#4E47FF;
   margin-bottom:0 auto;
}
.btn-primary {
    background-color:#4E47FF;
    font-weight:bold;
    color:white;
    padding:12px 36px;
    font-size:16px;
    border:none;
    border-radius:10px;
    margin-top:0;
}
/* banner section */
.banner {
    color:#252432;
    font-weight:bold;
    font-size:65px;
    margin:116px 150px 152px;
    /*width:884px;*/
}

.main-header {
    background-image: url("../Assets/Hero-bg.png");
}
/* header ends here */
/* section starts here */
.sectin-sub-title {
    color:#252432;
    font-size:24px;
    font-weight:regular;
}
/* section ends here */
.section-container {
    display:flex;
}
.nav-link {
    display:block; 
    align-items:center;
    justify-content:space-between;
}
.section-title { 
    font-weight:bold;
    font-size:42px;
}
/*  productive here */
.productive-title {
    font-weight:bold;
    font-size:38px;
}
/*.productive {
    max-width:1140px;
    margin:0 auto;
    border-radius:10px;*/
}
div.productive-description {
    display:flex;
}
.statics {
    display:flex;
    align-items:center;
}