/* header starts here */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
* {
    box-sizing:border-box;
}
nav {
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:0 150px;
}
.nav-title{
    font-size:34px;
    color:#4E47FF;
   margin-bottom:0 auto;
}
.btn-primary {
    background-color:#4E47FF;
    font-weight:bold;
    color:white;
    padding:12px 36px;
    font-size:16px;
    border:none;
    border-radius:10px;
    margin-top:0;
}
/* banner section */
.banner {
    color:#252432;
    font-weight:bold;
    font-size:65px;
    margin:116px 150px 152px;
    /*width:884px;*/
}

.main-header {
    background-image: url("../Assets/Hero-bg.png");
}
/* header ends here */
/* section starts here */
.sectin-sub-title {
    color:#252432;
    font-size:24px;
    font-weight:regular;
}
/* section ends here */
.section-container {
    display:flex;
    align-items:flex-start;
    flex-wrap:wrap;
}
.nav-link {
    display:block; 
    align-items:center;
    justify-content:space-between;
}
.background-bg {
    background-color:#D6DDED;
}
.section-title { 
    font-weight:bold;
    font-size:42px;
}
/*  productive here */
.about-productive {
    background-color:#D0BCFF;
    margin:100px auto;
    max-width:1140px;
    border-radius:20px;
    padding:40px 20px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
   
}
.about-items {
    display:flex;
    justify-content:space-around;
    gap:30px;
     border-radius:10px;
     flex-wrap:wrap;
}
.product-heading {
    margin-bottom: 30px;
    color:#252432;
    font-weight:bold;
    font-size:38px;
}
.product-title {
    color: #4E47FF;
    font-size:50px;
    font-weight:bold;
    margin-bottom:30px;
}

.product-description {
    font-size:20px;
    margin-top:0;
}
/* skill starts here */
.reviews h2 {
    font-weight:600;
    font-size:24px;
    text-align:center;
    margin-top:30px;
}
.reviews {
    text-align:center;
    padding:50px 20px;
}
.skill-description{
    font-size:16px;
    text-align:center;
}
.review-container {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
}
.reviewer {
    display:flex;
    border-radius:10px;
    margin-top:15px;
}
.review-card {
background-color:white;
max-width:300px;
border-radius:10px;
padding:20px;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
text-align:left;
}
.reviewer img {
width:40px;
height:40px;
border-radius:50%;
margin-right:10px;

}
/* navbar starts here */
.main-clear {
    display:flex;
    justify-content:space-between;
    align-items:center;
    max-width:1140px;
    margin:0 auto;
    width:100%;
    border:2px solid black;
    /*color:#D6DDED;*/
}
label {
    display:block;
    font-weight:bold;
    margin-bottom:10px;
}
.section-left h3 {
    color:#000000;
    font-weight:bold;
    font-size:90px;
    width:528px;
    margin-top:50px;
}
.section-right {
    width:500px;
    height:490px;
    margin-top:50px;
}
/* focus starts here */
.focus {
    background-color:white;
   text-align:center;
   margin-bottom:0;
     border-radius:14px;
     overflow:hidden; 
     padding:71px 150px;
}
.focus p {
    text-align:center;
    font-size:16px;
    margin-bottom:25px;
  
}
.focus h3 {
    text-align:center;
    font-weight:bold;
    font-size:50px;
    margin-bottom:0;
    
}
 .focus-image {
     border-radius:48px;
    margin-top:25px;
     
}
input[type=text], input[type=email] {
    width:100%;
    padding:20px;
    box-sizing:border-box;
    font-size:20px;
    border-radius:10px;
    margin-bottom:5px;
   
}
textarea {
    width:100%;
    height:90px;
    font-size:20px;
    border-radius:10px;
}
input[type=submit] {
    width:100%;
    background-color:#4E47FF;
    padding:20px;
    font-size:19px;
     border:none;
     box-sizing:border-box;
     border-radius:10px;
     margin-top:5px;
     color:white;
}